/* Importation des polices Google */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* Tailwind base, components et utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Personnalisation de la barre de défilement (Mode clair) */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #1e1e1e;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.dark ::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 10px;
}


.outer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #f0f0f0, #e0e0e0);
  position: relative;
}

.dark .outer {
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
}

.dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #000;
  box-shadow: 0 0 10px #000000;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

.dark .dot {
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
}

@keyframes moveDot {

  0%,
  100% {
    top: 10%;
    right: 10%;
  }

  25% {
    top: 10%;
    right: 90%;
    transform: translateX(2.5px);
  }

  50% {
    top: 90%;
    right: 90%;
    transform: translateX(2.5px) translateY(-2.5px);
  }

  75% {
    top: 90%;
    right: 10%;
    transform: translateY(-2.5px);
  }
}

.card {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #ddd;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #ffffff, #f0f0f0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: #000;
}

.dark .card {
  border: solid 1px #2d2e2e;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
  color: #fff;
}

.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #ddd;
  opacity: 0.4;
  box-shadow: 0 0 30px #ddd;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.dark .ray {
  background-color: #c7c7c7;
  box-shadow: 0 0 50px #fff;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #e0e0e0;
}

.dark .line {
  background-color: #2c2c2c;
}

.topl {
  top: 10%;
  background: linear-gradient(90deg, #cccccc 30%, #eeeeee 70%);
}

.dark .topl {
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}

.bottoml {
  bottom: 10%;
}

.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #bbbbbb 30%, #e4e4e4 70%);
}

.dark .leftl {
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}

.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
}





@layer base {
  :root {
    --background: 193 50% 97%;
    --foreground: 210 30% 20%;
    --card: 193 45% 95%;
    --card-foreground: 210 30% 15%;
    --popover: 193 45% 95%;
    --popover-foreground: 210 30% 15%;
    --primary: 176 80% 65%;
    --primary-foreground: 0% 0% 100%;
    --secondary: 190 85% 65%;
    --secondary-foreground: 0% 0% 100%;
    --muted: 193 30% 90%;
    --muted-foreground: 210 15% 40%;
    --accent: 190 85% 60%;
    --accent-foreground: 0% 0% 100%;
    --destructive: 0 84% 58%;
    --destructive-foreground: 220 20% 95%;
    --border: 193 30% 85%;
    --input: 193 30% 85%;
    --ring: 190 85% 65%;
    --chart-1: 190 85% 65%;
    --chart-2: 176 80% 65%;
    --chart-3: 176 80% 70%;
    --chart-4: 176 80% 50%;
    --chart-5: 190 85% 75%;
    --radius: 0.5rem;
    --gradient: linear-gradient(90deg, #1BE0E0, #06F3B7);
  }

  /* Définition des couleurs pour le Mode sombre */
  .dark {
    --background: 210 30% 5%;
    --foreground: 193 50% 90%;
    --card: 210 30% 15%;
    --card-foreground: 193 50% 95%;
    --popover: 210 30% 15%;
    --popover-foreground: 193 50% 95%;
    --primary: 176 80% 65%;
    --primary-foreground: 210 30% 10%;
    --secondary: 190 85% 55%;
    --secondary-foreground: 210 30% 10%;
    --muted: 210 30% 20%;
    --muted-foreground: 193 50% 70%;
    --accent: 190 85% 60%;
    --accent-foreground: 193 50% 90%;
    --destructive: 0 62% 40%;
    --destructive-foreground: 210 30% 95%;
    --border: 210 30% 20%;
    --input: 210 30% 20%;
    --ring: 190 85% 65%;
    --chart-1: 190 85% 65%;
    --chart-2: 176 80% 60%;
    --chart-3: 176 80% 50%;
    --chart-4: 176 80% 40%;
    --chart-5: 190 85% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}